/* font section  */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

/* gloval veriable */
* {
    margin: 0;
    padding: 0;
}

:root {

    --dark1: rgba(19, 19, 19, 1);
    --dark2: rgba(66, 66, 66, 1);
    --dark3: rgba(114, 114, 114, 1);
}

/* share styles */
.display-flex {
    display: flex;
}

.section-title {
    font-size: 2.8rem;
    font-weight: 700;

}

.section-details {
    margin-top: 2rem;
    color: var(--dark2);
}

.dark1 {
    color: rgba(19, 19, 19, 1);
}

.dark2 {
    color: rgba(66, 66, 66, 1);
}

.dark3 {
    color: rgba(114, 114, 114, 1);
}

.primary-bgcolor {
    background-color: rgba(255, 144, 14, 0.1);
}

.primary-btn {
    background-color: rgba(255, 144, 14, 1);
    color: white;
    font-size: 1.25rem;
    font-weight: 600;
    padding: 20px 24px;
    border: none;
    border-radius: 8px;
    margin-top: 2rem;
}

/* header section style start  */
.nav-bar {
    max-width: 1140px;
    justify-content: space-between;
    margin: 0 auto;
}

.nav-links {
    gap: 2rem;
    align-items: center;
}

.link {
    list-style: none;

}

.link a {
    text-decoration: none;
    color: var(--dark2);
}

.banner {
    max-width: 1140px;
    text-align: center;
    margin: 0 auto;
}

.banner-content {
    max-width: 862px;
    margin: 0 auto;
}

.banner-title {
    font-size: 4rem;
    font-weight: 700;
    color: var(--dark1);
}

.banner-img {
    max-width: 1440px;
    margin: 3rem auto;
    padding-bottom: 3rem;
}

.banner-img img {
    width: 100%;
}

/* main section style star */
main {
    max-width: 1440px;
    margin: 0 auto;
}

main>section {
    margin-top: 8rem;
}

/* quick list of features section start */
.quick-list-features {
    display: flex;
    gap: 4rem;
    align-items: center;
    justify-content: center;
}

.img-collage {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    max-width: 80vw;
}

.img-collage img {
    width: 100%;
}

.quick-list-content {
    max-width: 537px;
}

.title-par1 {
    font-weight: 500;
}

.title-part2 {
    color: #FF900E;
    margin-bottom: 1.5rem;
    display: block;
}

/* love feauters section start */
.love-features {
    display: flex;
    gap: 8.3rem;
}

.left-column h2 {
    border-left: 5px solid orange;
    padding-left: 1.25rem;
}

.left-column p {
    padding-top: 1.5rem;
}

.card {
    max-width: 586px;
    /* height: 172px; */
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
    border-radius: 1rem;
    padding: 1.8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 2.5rem;
}

.card p {
    margin-top: 1rem;
}

.right-column {
    font-size: 25px;
}

.right-column button {
    margin-top: -5.5rem;
    margin-left: -5.5rem;
}

#experience-years {
    font-size: 65px;
    font-weight: 700;
}

/* resposive quary of mobile  */
@media screen and (max-width:576px) {

    .nav-bar,
    .nav-links {
        flex-direction: column;

    }

    .nav-bar,
    .nav-links {
        text-align: center;
    }

    .nav-links {
        gap: 1em;
        margin: 1em 0;
    }

    .quick-list-features {
        flex-direction: column;
    }

    .img-collage {
        grid-template-columns: repeat(1, 1fr);
    }

    .quick-list-content {
        text-align: center;
    }

    .love-features {
        flex-direction: column;
        text-align: center;
        gap: 1.25rem;
    }

    .left-column h2 {
        margin-left: 1rem;

    }

    .right-column img {
        width: 90%;
    }

    .right-column button {
        margin: 10px 0;
    }
}

/* responsive quary for table */
@media screen and (min-width:576px) and (max-width:992px) {

    .nav-bar,
    .nav-links {
        flex-direction: column;

    }

    .nav-bar,
    .nav-links {
        text-align: center;
    }

    .nav-links {
        gap: 1em;
        margin: 1em 0;
    }

    .quick-list-features {
        flex-direction: column;
    }

    .img-collage {
        grid-template-columns: repeat(2, 1fr);
    }

    .quick-list-content {
        text-align: center;
    }

    .love-features {
        flex-direction: column;
        text-align: center;
        gap: 2.25rem;
    }
    .cards-container{
        display: grid;
        grid-template-columns: repeat(2,1fr);

    }
    .left-column h2 {
        margin-left: 1rem;

    }

    .right-column img {
        width: 90%;
    }

    .right-column button {
        margin: 10px 0;
    }
}